p{
  text-align: justify;
}

.painel-grafico-estados, .painel-grafico-corpele {
  overflow-x: auto;
  position: relative;
}

#paineis-sobre{
  margin-top:  20px;
}

.titulo-depoimentos {
    background-color: #0275D8;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#FFF;
    margin-bottom: 0;
    font-size:24px;
}

.contato-select,
.grupo-radio{
    width: 50%;
    display: inline-block;
    vertical align: top;
}

.grupo radio .radio:first-child {
    margin-top: 0;
}

footer {
    background-color: #333;
    color:#FFF;
    padding: 20px;
    margin-top: 20px;
}

footer address:last-child {
 margin-bottom: 0;
}

html,
body {
    height: 100%;
}

header {
    background-image: url(img/tarsila.jpg);
    background-size: cover;
    background-position:top center;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;

}
.observatorioSocial-banner {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20 px;
    width: 80%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

@media(min-width: 768px) {
    .projetos-responsivo {
    width: 30%;
    float: left;
    }
    #paineis-sobre{
      margin-top:  0px;
    }
}
@media(min-width:992px) {
    .observatorioSocial-banner {
    left: 0;
    transform: translate(0, -80%);
    width: 50%;
    }
    .observatorioSocial-bannerWrapper{
      position: relative;
      height: 100%;
    }
}

.square {
  /*position: relative;*/
  height: 10px;
  width: 10%;
}
#sul{
  background-color: #990033;
}
#sudeste{
  background-color: #003366;
}
#centroeste{
  background-color: #cc00ff;
}
#nordeste{
  background-color: #ff6600;
}
#norte{
  background-color: #009966;
}
#negra{
  background-color: #330000;
}
#parda{
  background-color: #cc9966;
}
#branca{
  background-color: #ffcccc;
}
#amarela{
  background-color: #ffff99;
}
#indigena{
  background-color: #cc0000;
}

/*-----------------------biblioteca tipsy.css---------------------------*/
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }

	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
